.img-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 140px;
  height: 240px;
}
.col {
  text-align: center;
}
.title{
  padding-top: 20px;
}
.remove {
  color: white;
  background: blue;
}
.add {
  color: white;
  background: blue;
}