.item-detail {
  margin-top: 60px;
}
.img-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height:80%;
}
.col {
  text-align: center;
}
.title{
  padding-top: 25px;
}
.remove {
  color: white;
  background: blue;
}
.add {
  color: white;
  background: blue;
}
.addcart{
  padding-top: 12px;
}

.row-height {
  height: 350px;
}
