.img-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height:60%;
}
.col {
  text-align: center;
}
.title{
  padding-top: 25px;
}
.remove {
  color: white;
  background: blue;
}
.add {
  color: white;
  background: blue;
}
.addcart{
  padding-top: 12px;
}