.card {
  text-align: center;
  padding-bottom: 20px;
  margin: 10px 40px;
}
.image {
  width: 140px;
  height: 245px;
  margin-bottom: 5px;
}
.title{
  font-size: 18px;
  color: black;
}
.price{
  font-size: 18px;
  color: black;
}